body {
    background: bodysmoke;
    padding: 40px;
    text-align: center;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    height: 30px;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px auto;
    width: 150px;
}