button {
  border: none;
  margin: 0 auto 5px;
  width: 200px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 0;
  cursor: pointer;
}

#increment-btn {
  background-color: darkred;
}

#save-btn {
  background-color: darkgreen;
}
